@function rd($x, $y) {
  $size: percentage($x / $y);
  @return $size;
}
@function rem($x) {
  $size: ($x / 16);
  @return #{$size}rem;
}
@mixin fz($size) {
  font-size: #{$size}px; //Fallback in px
  font-size: rem($size);
}
