@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i|Montserrat:200,200i,300,300i,400,400i,600,600i,700,700i");
@import "base/typography";
@import "functions";
@import "vendor/normalize";
@import "meta";
@import "vendor/breakpoint";

//colors
$c-lightBlue: #deedf0;
$c-purple: #a15693;
$c-lightYellow: #f7f4e4;
$c-brightYellow: #d7bc27;
$c-yellow: #a18d1d;
$c-white: #f2f2f2;
$c-text: #4f4f4f;

//font(s)
$f-mont: "Montserrat", sans-serif;
$f-merri: "Merriweather", sans-serif;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: $c-text;
  font-family: $f-mont;
}

main {
  max-width: 1200px;
}
.container {
  margin: 0 auto;
  width: 480px;
}

header.chat {
  background-color: $c-purple;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: .9375rem 1.875rem .6875rem 1.875rem;
  position: relative;

  p {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    width: 87.5%;
  }

  img {
    max-width: 100%;
    position: absolute;
    right: 21px;
    top: 22px;
  }
}

nav {
  &:after {
    clear: both;
    content: "";
    display: block;
  }

  ul {
    float: right;
  }

  li {
    list-style: none;

    a {
      color: white;
      display: inline-block;
      font-weight: 400;
      list-style: none;
      padding: 1rem .8rem .8rem .5rem;
    }
  }
}

.chatbox {
  background-color: white;
  max-height: 605px; // the max-height of the nav opens
  min-height: 605px; // the height of the nav when open
  overflow: scroll;
  padding: 1.1875rem .75rem;

  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

.message {
  border-radius: 4px;
  clear: both;
  font-size: 1rem;
  font-weight: 300;
  max-width: 80.83333333%;
  opacity: 0;
  padding: .9375rem .9375rem .9375rem 1rem;
  transform: translateY(10px);
  transition: all .2s ease-out;

  p {
    margin: 0;
  }

  &.message-left {
    background-color: $c-lightYellow;
    float: left;
    margin-bottom: .75rem;
  }

  &.message-right {
    background-color: $c-lightBlue;
    float: right;
    margin-bottom: .9rem;
  }

  &.-show {
    opacity: 1;
    transform: translateY(0px);
  }
}

.message-input {
  background-color: $c-white;
  padding: .875rem .75rem .8rem .875rem;
  width: 100%;

  input {
    min-height: 42px;
    width: 78.75%;
  }

  input[type=text]:focus, textarea:focus {
    border: 1px solid rgba(81, 203, 238, 1);
    -webkit-box-shadow: inset 2px 2px 2px 0 #ddd;
    -moz-box-shadow: inset 2px 2px 2px 0 #ddd;
    box-shadow: inset 2px 2px 2px 0 #ddd;
    margin: 5px 1px 3px 0;
    padding: 10px;
  }

  button.send {
    background-color: $c-purple;
    border: 0 solid transparent;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    bottom: -1px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    min-height: 42px;
    min-width: 80px;
    padding: 10px 14px;
    position: relative;
    text-transform: uppercase;
  }
}

.screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// home/index page
.home-container {
  margin: 0 auto;
  width: rd(950, 1440);

  @include breakpoint(max-width 900px) {
    width: rd(1200, 1440);
  }
  @include breakpoint(max-width 900px) {
    width: rd(1300, 1440);
  }

  .title {
    display: block;
    margin-bottom: rem(40);

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      padding: .5rem;
    }
  }
  header {
    @extend %clearfix;
  }
}

.category-selector {
  float: right;
  margin-bottom: rem(36);

  label {
    margin-right: rem(11);
  }
}
// author bio page
.bio {
  background-color: white;
  margin: 0 auto;
  width: rd(950, 1440);

  @include breakpoint(max-width 900px) {
    width: rd(1200, 1440);
  }
  @include breakpoint(max-width 500px) {
    width: rd(1300, 1440);
  }

  .bio__inner {
    border-bottom: 1px solid black;
    margin-bottom: rem(36);
    padding-bottom: rem(46);

    .bio__inner__portrait {
      border-radius: 50%;
      display: block;
      margin: 0 auto;
    }

    h1 {
      font-family: $f-mont;
      font-weight: 300;
      margin-top: rem(18);
      text-align: center;
      text-transform: uppercase;
      @include fz(56);
    }

    p {
      font-family: $f-merri;
      font-weight: 400;
      line-height: 1.6;
      margin-top: rem(24);

      &:first-of-type {
        margin-top: rem(28);
      }
    }
  }
  .logo-title {
    display: block;
    margin: .8rem auto;
    width: rd(582, 950);
    @include breakpoint(max-width 600px) {
      width: 100%;
    }

    img {
      max-width: 100%;
    }
  }
}
.authorBio--bio {
  border-bottom: 1px solid black;
  margin-bottom: rem(60);
  padding-bottom: rem(46);

  .--portrait {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }

  h1 {
    font-family: $f-mont;
    font-weight: 300;
    margin-top: rem(18);
    text-align: center;
    text-transform: uppercase;
    @include fz(56);
  }

  p {
    font-family: $f-merri;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: rem(35);
    @include fz(15);

    &:first-of-type {
      margin-top: rem(28);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

//article index nav
.article-index__nav {
  ul {
    width: 100%;
    @extend %clearfix;
  }

  li {
    a {
      color: $c-purple;
      font-family: $f-mont;
      font-weight: 200;
      text-decoration: none;
      text-transform: uppercase;
      @include fz(48);

      @include breakpoint(max-width 650px) {
        padding: 0;
        @include fz(24);
      }

      img {
        height: auto;
        width: 20px;
      }

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
    span {
      bottom: 5px;
      padding: 1rem;
      position: relative;
      @include breakpoint(max-width 650px) {
        bottom: 8px;
      }
    }

    &:first-of-type {
      float: left;
    }

    &:nth-of-type(2) {
      float: right;
    }
  }
}

.article-inner__titleCard {
  background-color: white;
  margin: 0 auto rem(58) auto;
  margin-bottom: rem(58);
  max-width: 1200px;
  padding-top: rem(23);
  width: 100%;
  h1 {
    font-weight: 300;
    margin: 0 auto;
    margin-bottom: 3rem;
    max-width: 500px;
    text-align: center;
    text-transform: uppercase;
    @include fz(56);

    @include breakpoint(max-width 600px) {
      @include fz(46);
    }
  }
  .article-inner__authormeta {
    border-bottom: 1px solid lighten($c-text, 60%);
    border-top: 1px solid lighten($c-text, 60%);
    padding-bottom: rem(19);
    padding-top: rem(24);
    text-align: center;

    a {
      color: $c-purple;
      display: block;
      margin-bottom: .25rem;
      text-decoration: none;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}

.article-container {
  max-width: 100%;
  width: 100%;

  header {
    // background-color: $c-brightYellow;
    background: linear-gradient(rgba(196, 165, 0, .7), rgba(196, 165, 0, .7)),
      url("/images/alice-in-wonderland-big.png");
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: rem(630);
    position: relative;
  }

  .article-header__inner {
    padding: 1rem;

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
  .article-header__bg {
    // background-image: url('/images/alice-in-wonderland-big.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    position: absolute;
    width: rd(572, 1440);
    z-index: 20;
  }

  .article-inner {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    top: -100px;
    width: rd(950, 1440);

    @include breakpoint(max-width 950px) {
      width: rd(1200, 1440);
    }

    @include breakpoint(max-width 950px) {
      width: rd(1200, 1440);
    }

    @include breakpoint(max-width 600px) {
      width: rd(1300, 1440);
    }

    h2 {
      font-family: $f-mont;
      font-weight: 300;
      margin-bottom: rem(50);
      @include fz(24);
    }

    p {
      font-family: $f-merri;
      font-weight: 400;
      line-height: 1.8;
      margin-bottom: rem(50);
      @include fz(16);
    }
  }
}
// article index

.article-index__preview {
  border-radius: 4px;
  clear: both;
  color: $c-text;
  margin-bottom: rem(90);
  padding: 1rem;
  transition: all .3s ease-in-out;
  @extend %clearfix;

  @include breakpoint(max-width 600px) {
    margin-bottom: rem(38);
  }

  h1 {
    color: $c-yellow;
    font-family: $f-mont;
    font-weight: 400;
    margin-bottom: rem(20);
    @include fz(36);

    @include breakpoint(max-width 650px) {
      @include fz(28);
    }
  }

  &:hover, &:focus {
    background-color: $c-brightYellow;

    * {
      color: white;
    }

    .article-index__authorName {
      border-right: 1px solid white;
    }
  }

  a {
    color: $c-text;
    text-decoration: none;
    @extend %clearfix;

    &:hover, &:focus {
      h1 {
        text-decoration: underline;
      }
    }
  }
  p {
    clear: both;
    font-family: $f-merri;
    line-height: 1.7;
    margin-top: rem(18);
    @include fz(15);

    @include breakpoint(max-width 600px) {
      line-height: 1.8;
    }

    &:hover, &:focus {
      text-decoration: none;
    }
  }

  small {
    float: left;
    font-family: $f-mont;
    font-weight: 300;
    @include fz(18);

    &:first-of-type {
      border-right: 1px solid black;
      padding-right: 1rem;
    }

    &:nth-of-type(2) {
      margin-left: 1rem;
    }
  }
  .--imageContainer {
    float: left;
    width: rd(200, 950);

    @include breakpoint(max-width 600px) {
      float: none;

      img {
        display: none;
      }
    }

    img {
      max-width: 100%;
    }
  }

  .--preview {
    float: left;
    margin-left: rd(30, 950);
    width: rd(720, 950);

    @include breakpoint(max-width 600px) {
      float: none;
      margin-left: 0;
      width: 100%;
    }
  }

  .articlePreview-postMeta {
    @extend %clearfix;
  }
}
.article-index {
  a {
    text-decoration: none;

    &:focus, &:hover {
      h1, h2, h3, h4, h5, h6 {
        text-decoration: underline;
      }
    }
  }
}
.article_meta {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  top: -80px;
  width: rd(975, 1440);

  @include breakpoint(max-width 950px) {
    width: rd(1200, 1440);
  }
  @include breakpoint(max-width 950px) {
    width: rd(1200, 1440);
  }
  @include breakpoint(max-width 600px) {
    width: rd(1300, 1440);
  }

  small {
    display: block;
  }

  span {
    display: block;
    &:first-of-type {
      margin-bottom: .2rem;
      text-transform: uppercase;
      @include fz(16);
    }

    &:nth-of-type(2) {
      margin-bottom: 1rem;
      @include fz(14);

      a {
        color: $c-purple;
        text-decoration: none;

        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

.author-info {
  margin: 0 auto;
  max-width: 1200px;
  width: rd(975, 1440);
  @extend %clearfix;

  @include breakpoint(max-width 950px) {
    width: rd(1200, 1440);
  }

  @include breakpoint(max-width 950px) {
    width: rd(1200, 1440);
  }

  @include breakpoint(max-width 650px) {
    img {
      display: none;
      float: none;
    }

    .author-info__bio {
      float: none;
      width: 100%;
    }
  }

  @include breakpoint(max-width 600px) {
    width: rd(1300, 1440);
  }

  img {
    border-radius: 50%;
    float: left;
    margin-right: rd(40, 975);
    max-width: 253px;
    width: rd(253, 975);
  }

  .author-info__bio {
    float: left;
    width: rd(682, 975);

    @include breakpoint(max-width 600px) {
      width: 100%;
    }

    h2 {
      color: $c-purple;
      font-family: $f-mont;
      font-weight: 200;
      margin-bottom: rem(26);
      text-transform: uppercase;
      @include fz(40);
    }

    p {
      color: $c-text;
      font-family: $f-merri;
      font-weight: 400;
      line-height: 1.7;
      margin-bottom: rem(26);
      @include fz(15);
    }
  }
}
