.author-info {
  margin: 0 auto;
  max-width: 1200px;
  width: rd(975, 1440);
  @extend %clearfix;

  @include breakpoint(max-width 950px) {
    width: rd(1200, 1440);
  }

  @include breakpoint(max-width 950px) {
    width: rd(1200, 1440);
  }

  @include breakpoint(max-width 650px) {
    img {
      display: none;
      float: none;
    }

    .author-info__bio {
      float: none;
      width: 100%;
    }
  }

  @include breakpoint(max-width 600px) {
    width: rd(1300, 1440);
  }

  img {
    border-radius: 50%;
    float: left;
    margin-right: rd(40, 975);
    max-width: 253px;
    width: rd(253, 975);
  }

  .author-info__bio {
    float: left;
    width: rd(682, 975);

    @include breakpoint(max-width 600px) {
      width: 100%;
    }

    h2 {
      color: $c-purple;
      font-family: $f-mont;
      font-weight: 200;
      margin-bottom: rem(26);
      text-transform: uppercase;
      @include fz(40);
    }

    p {
      color: $c-text;
      font-family: $f-merri;
      font-weight: 400;
      line-height: 1.7;
      margin-bottom: rem(26);
      @include fz(15);
    }
  }
}
